/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.section {
  background-color: var(--beige);
  display: flex;
  margin-bottom: 25px;
}

.box {
  background-color: var(--white);
  border: solid 1px var(--grey);
  padding: 7px;
  margin: 7px;
}

.section-1 .box {
  width: 25%;
  margin-left: 0px;
  margin-right: 0px;
}

.section-2 {
  flex-wrap: wrap;
}

.section-2 .box {
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
}

.section-3 {
  justify-content: center;
}

.section-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-4 .box {
  width: 45%;
  margin-left: 0px;
  margin-right: 0px;
}

.section-5 {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.box-4 {
  justify-content: stretch;
}

/* ====================================
// base rules
// ==================================== */
